@using OsteoYoga.Domain.Models
@using OsteoYoga.Helper.Helpers
@using OsteoYoga.Helper.Helpers.Implements
@using OsteoYoga.Resource.Holiday
@model IList<Date>

<link href='@Url.Content("~/Theme/Css/fullcalendar.css")' rel='stylesheet' />
<link href='@Url.Content("~/Theme/Css/fullcalendar.print.css")' rel='stylesheet' media='print' />
<script type="text/javascript" src='@Url.Content("~/Theme/Scripts/jquery-1.9.1.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Theme/Scripts/jquery-ui.min.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Theme/Scripts/fullcalendar.min.js")'></script>
<script type="text/javascript">
    
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            defaultView: 'agendaWeek',
            allDaySlot:false,
            editable: false,
            firstHour: 8,
            minTime:8,
            maxTime: 19,
            monthNames:['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet','Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
            monthNamesShort :['Jan', 'Fév', 'Mar', 'Avr', 'Mai', 'Juin', 'Juil','Août', 'Sept', 'Oct', 'Nov', 'Déc'],
            dayNames  :['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
            dayNamesShort :['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
            header: {
                left: 'prev,next today',
                center: 'title'
            },
            events: [
                @foreach (Dates date in Model){
                    string color = date.IsConfirmed ? "green" : "red";
                    <text>   
                        {   
                            id: '@date.Id',
                            title: '@StringHelper.GetInstance().ToJavascript(date.Patient.FullName)',
                            start: new Dates(@date.Day.Year, @(date.Day.Month - 1), @date.Day.Day, @date.WorkTimeSlot.BeginHour.Hours, @date.WorkTimeSlot.BeginHour.Minutes),
                            end: new Dates(@date.Day.Year, @(date.Day.Month - 1), @date.Day.Day, @date.WorkTimeSlot.TotoHour.Hours, @date.WorkTimeSlot.TotoHour.Minutes),
                            allDay: false,
                            color:'@color'
                        },
                    </text>
                }
            
                @foreach (Holiday holiday in ViewBag.Holidays){
                    string color = "orange";
                    <text>   
                        {   
                            id: '@holiday.Id',
                            title: '@HolidayResource.Holidays',
                            start: new Dates(@holiday.Day.Year, @(holiday.Day.Month - 1), @holiday.Day.Day, @holiday.BeginHour.Hours, @holiday.BeginHour.Minutes),
                            end: new Dates(@holiday.Day.Year, @(holiday.Day.Month - 1), @holiday.Day.Day, @holiday.TotoHour.Hours, @holiday.TotoHour.Minutes),
                            allDay: false,
                            color:'@color'
                        },
                    </text>
                }
            ],
            eventClick: function(calEvent) {
                $.ajax({
                    url: '/Agenda/GetDetailDates?id=' + calEvent.id,
                    type: 'GET',
                    success: function (data) {
                        $("#eventDialog").html(data);
                        $("#eventDialog").dialog({
                            autoOpen: true,
                            resizable: false,
                            modal: true,
                            width:'650',
                            closeText:""
                        }); 
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            }
        });
       
    });
     $("#addADate").click(function() {
           $.ajax({
                    url: '@Url.Action( "CreateDates", "Agenda")',
                    type: 'GET',
                    success: function (data) {
                        $("#eventDialog").html(data);
                        $("#eventDialog").dialog({
                            autoOpen: true,
                            resizable: false,
                            modal: true,
                            width:'350',
                            closeText:""
                        }); 
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
        });
</script>

<button class="btn btn-primary" id="addADate">
    Créer un rendez-vous
</button>
<div id="calendar" ></div>
<div id="eventDialog" ></div>

