@using OsteoYoga.Resource
@using OsteoYoga.Resource.Contact
@{
    ViewBag.Title = "Connexion";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Meta = "Connectez vous afin de pouvoir prendre rendez-vous en ligne";
    if (ViewBag.isForDate != null && ViewBag.isForDate)
    {
        <div>
            @LoginResource.ConnectToAccesToCategory
        </div>
    }
}
<script src="@Url.Content("~/Theme/Scripts/jquery-1.9.1.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/Theme/Scripts/jquery-ui.min.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/Theme/Scripts/jquery.watermark.min.js")" type="text/javascript" ></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#email').watermark('@ModelResource.YourMail');
    });
</script>
<div role="main" id="mainContent"> 
    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
    {
        <div id="Errors" class="error">@ViewBag.Errors</div>
        <fieldset>
            <legend><h1>@LoginResource.Connection</h1></legend>
            <div><input type="text" name="email" id="email" /></div>
            <div><input class="btn btn-primary" type="submit" value="@LoginResource.ConnectMySelf"/></div>
        </fieldset>
        <span>@LoginResource.IfNoAccountSignIn @Html.ActionLink(LoginResource.CreateAccount, "SignIn", "Login")</span>
    }
</div>
