@using OsteoYoga.Helper.Helpers
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
 <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Meta" />
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="Content-Type" CONTENT="text/html; charset=iso-8859-1">
    <link href='@Url.Content("~/Theme/Css/Fonts/fontawesome-webfont.ttf")' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="@Url.Content("~/Theme/Css/bootstrap.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Theme/Css/font-awesome.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Theme/Css/style.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Theme/Css/jquery-ui.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Theme/Css/messi.min.css")" />
    <link rel="stylesheet" id="color" href="@Url.Content("~/Theme/Css/color-blue.css")" id="color" />
    <link rel="stylesheet" id="pattern" href="@Url.Content("~/Theme/Css/pattern1.css")" id="pattern" />

    <script type="text/javascript" src="@Url.Content("~/Theme/Scripts/jquery-1.9.1.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Theme/Scripts/jquery-ui.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Theme/Scripts/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Theme/Scripts/script.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Theme/Scripts/modalScript.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Theme/Scripts/messi.min.js")"></script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-42098274-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();



    </script>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body class="home">
    <div id="fb-root"></div>
    <script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));


    </script>
    <div id="top"></div>
    <div class="gradient"></div>
    <div id="bodyContainer" style="padding: 1em; text-align: center">
        <header id="mainHeader">
            <!-- mainHeader -->
            <h1>@Html.ActionLink("Nicolas Truffart - Ostéopathe", "Index", "Home", null, new { @class = "brand" })</h1>
            <h2><i>@Html.ActionLink("Méthode douce alliant ostéopathie et yoga", "Index", "Home", null, new { @class = "brand" })</i></h2>
            <nav id="mainMenu" class="navbar">
                <!-- Main Menu -->
                <ul class="nav">
                    @Html.MenuItem("Accueil", "Index", "Home")
                    @*@Html.MenuItem("Prise de rendez-vous en ligne", "Index", "RendezVous")*@
                    <li class="dropdown-submenu">
                        <a href="#">Me Contacter</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("À Bayonne", "MeContacterABayonne", "Home")</li>
                            <li>@Html.ActionLink("À Rion des Landes ", "MeContacterARionDesLandes", "Home")</li>
                        </ul>
                    </li>
                    @Html.MenuItem("Tarifs", "Tarifs", "Home")
                    @Html.MenuItem("Login", "Index", "Login")
                </ul>
            </nav>
        </header>
        <div class="row-fluid" style="text-align: center">
            <div class="span3" style="vertical-align: middle">
                <nav id="mainMenu" class="navbar">
                    <!-- Main Menu -->
                    <ul class="nav">
                        <li class="dropdown-submenu">
                            <a href="#">Pourquoi Consulter?</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Motifs courants", "MotifsCourants", "Home")</li>
                                <li>@Html.ActionLink("Motifs méconnus", "MotifsMeconnus", "Home")</li>
                                <li>@Html.ActionLink("Pour les bébés", "QuandConsulterBebe", "Home")</li>
                                <li>@Html.ActionLink("Pour les femmes enceintes", "QuandConsulterGrossesse", "Home")</li>
                            </ul>
                        </li>
                        <br />
                        <li class="dropdown-submenu">@Html.ActionLink("Ostéopathie", "Osthéopathie", "Home")</li>
                        <br />
                        <li class="dropdown-submenu">@Html.ActionLink("Yoga thérapie", "Yogathérapie", "Home")</li>
                        <br />
                        <li class="dropdown-submenu">
                            @Html.ActionLink("Ma pratique", "MaPratique", "Home")
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Mon parcours", "QuiSuisJe", "Home")</li>
                            </ul>
                        </li>
                        <br />
                        <li class="dropdown-submenu">@Html.ActionLink("Questions fréquentes", "QuestionsFrequentes", "Home")</li>
                        <br />
                        <li class="dropdown-submenu">
                            @Html.ActionLink("Liens utiles", "Partenaires", "Home")
                            <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Cours de Yoga", "CoursYoga", "Home")</li>
                            <li>@Html.ActionLink("Associations", "Association", "Home")</li>
                            <li>@Html.ActionLink("Divers", "LiensDivers", "Home")</li>
                        </ul>
                    </li>
                    <br />
                    <li class="dropdown-submenu">@Html.ActionLink("Certifications", "Certifications", "Home")</li>
                    <br />
                    @*<li class="dropdown-submenu">@Html.ActionLink("Administration", "Index", "Administration")</li>*@
                </ul>
            </nav>
        </div>
        <div class="span6" style="text-align: center">
            @RenderBody()
        </div>
        <div class="span3" id="fbContent">
            <div class="fb-like-box" data-force-wall="true" id="fbplugin" data-width="100" data-href="https://www.facebook.com/pages/osteoyogafr/184250505057824" data-show-faces="false" data-stream="true" data-show-border="false" data-header="true"></div>
        </div>
    </div>
    <footer id="mainFooter">
        <!-- Main Footer -->
        <div id="toTop"><a href="#top" id="topLink" title="Haut de la page"><i class="icon-chevron-up"></i></a></div>
        <section id="footerExtra">
            <!-- Extra Info in Footer -->
            <div class="row-fluid">
                <div class="span3 content">
                    <h3>Nous contacter</h3>
                    <ul class="icons">
                        <li><i class="icon-map-marker"></i>5 ter Avenue Jouandin, Pôle Santé, 64100 Bayonne</li>
                        <li><i class="icon-phone"></i>06 22 69 15 28</li>
                        <li><i class="icon-envelope"></i>n.truffart.do@gmail.com</li>
                    </ul>
                </div>
            </div>
        </section> <!-- end footer extra -->
        <section id="footerInfo">

            <p id="copyright">&copy; Copyright 2012. All Rights Reserved</p>
            <ul class="socialMedia">
                <li><a href="https://fr-fr.facebook.com/pages/Ost%C3%A9opathie-Yogath%C3%A9rapie-N-Truffart-DO/184250505057824" title="Facebook"><i class="icon-facebook"></i></a></li>
                <li><a href="https://twitter.com/osteoyogafr" title="Twitter"><i class="icon-twitter"></i></a></li>
                <li><a href="https://plus.google.com/u/0/104059425150663666735" title="Google Plus" rel="publisher"><i class="icon-google-plus"></i></a></li>
                <li><a href="http://fr.linkedin.com/pub/nicolas-truffart/73/243/1b0" title="LinkedIn"><i class="icon-linkedin"></i></a></li>
            </ul>

        </section> <!-- end copyright and social media -->

    </footer> <!-- end mainFooter -->
</div>
<script type="text/javascript">
        $("#fbplugin").attr('data-width', $("#fbContent").width());
</script>
</body>
