@using System.Configuration
@using OsteoYoga.Domain.Models
@using OsteoYoga.Helper
@using OsteoYoga.Resource.RendezVous
@model IList<Holiday>
<script src="@Url.Content("~/Theme/Scripts/jquery-1.9.1.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/Theme/Scripts/jquery-ui.min.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/Theme/Scripts/jquery.maskedinput.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/Theme/Scripts/jquery.validate.min.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/Theme/Scripts/jquery.watermark.min.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/Theme/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/Theme/Scripts/MicrosoftAjax.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Theme/Scripts/MicrosoftMvcAjax.js")" type="text/javascript"></script>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Prise de rendez vous sur internet";
}

<script type="text/javascript">
    var compteurId = 0;
    var ids = new Array();
    //var dayHours = '@Constants.GetInstance().AMBegin()-@Constants.GetInstance().PMEnd()';
    var daysToDisable = [@foreach (Holiday holiday in Model)
                         {
                             if (holiday.BeginHour <= Constants.GetInstance().AMBegin() && holiday.EndHour == Constants.GetInstance().PMEnd() )
                             {
                                <text>'@(holiday.Day.Month)-@(holiday.Day.Day)-@(holiday.Day.Year)',</text>
                             }
                         }];
    $(document).ready(function () {
        $("#DatePicker").datepicker({
            minDate: +3,
            beforeShowDay: disableSpecificDates,
            dateFormat: 'dd/mm/yy',
            onSelect: function (date) {
                $("#timeSlotSelection").show();
                $("#timeSlotSelectionValues").show();
                getProposeDate(date);
            }
        });
        $("#selectedTimeSlot").change(function () {
            getProposeDate($("#DatePicker").val());
        });
    });

    function disableSpecificDates(date) {
        var month = date.getMonth();
        var day = date.getDate();
        var dayofWeek = date.getDay();
        var year = date.getFullYear();
        if (dayofWeek != 0 && dayofWeek != 3) {
            for (var i = 0; i < daysToDisable.length; i++) {
                if ($.inArray((month + 1) + '-' + day + '-' + year, daysToDisable) != -1) {
                    return [false];
                }
            }
            return [true];
        }
        return [false];
    }

    function getProposeDate(date) {
        $.ajax({
            url: '@Url.Action("ProposeDate", "RendezVous")',
            data: {
                patientDate: date,
                patientHours: $("#selectedTimeSlot").val()
            },
            type: 'POST',
            success: function (data, textStatus, jqXHR) {
                $("#proposeDate").html(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    }
</script>
<div role="main" id="mainContent"> 
    <fieldset>
        <legend>@DateResource.DateQuery</legend>
        <label class="error" id="erreurs">@ViewBag.ResultMessage</label>
        <table >
            <tr>
                <th>@DateResource.DateSelection</th>
            </tr>
            <tr>
                <td style="width:25%; vertical-align:top; background-color: transparent;">
                    <div align="center" id="DatePicker" />
                </td>
            </tr>
            <tr hidden="hidden" id="timeSlotSelection">
                <th>@DateResource.TimeSlotSelection</th>
            </tr>
            <tr hidden="hidden" id="timeSlotSelectionValues">
                <td style="width:75%; text-align:center; vertical-align:top; background-color: transparent;">
                    <select id="selectedTimeSlot">
                        <option value="@Constants.GetInstance().AMBegin()-@Constants.GetInstance().PMEnd()" selected="selected">@DateResource.AllTheDay</option>
                        <option value="@Constants.GetInstance().AMBegin()-@Constants.GetInstance().AMEnd()">@DateResource.AM</option>
                        <option value="@Constants.GetInstance().PMBegin()-@Constants.GetInstance().PMEnd()">@DateResource.PM</option>
                        @*<option id="timeSlot">Horaires personnalisés</option>*@
                    </select>
                    <div id="customTimeSLot"></div>
                </td>
            </tr>
        </table>
        <div id="proposeDate"></div>
    </fieldset> 
</div>
@{
    
    /*function ajouterUnePlageHoraire(date, heureDebut, heureFin) {
        
    compteurId = compteurId + 1;
    if (remplirIdArray()) {
    var id = compteurId;
    } else {
    return;
    }
    var imageUrl = "../Content/themes/images/cancel.png";
    var html1 = "<table><tr id='ligne_" + id + "'><td>" + date + "</td>";
    html1 = html1 + "<td><div id='slider_" + id + "' style='min-width:15em'></div></td>";
    html1 = html1 + "<td><div id='horaires_" + id + "'>"+heureDebut+":00H - "+heureFin+":00H</div></td>";
    html1 = html1 + "<td><a href='#' id='supprimer_" + id + "'><img src='" + imageUrl + "' alt='Supprimer' style='width:2em; height:2height' /></a></td></tr></table>";
    $("#patientHours").append(html1);
    var option = "<option id='plage_" + id + "' value='" + heureDebut + "-" + heureFin + "-" + date + "' selected=selected></option>";
    $("#hours").append(option);

    $("#supprimer_" + id).click(function() {
    $("#ligne_" + id).remove();
    $("#plage_" + id).remove();
            
    ids[id] = "";
    });

    $("#slider_" + id).slider({
    range: true,
    min: 8,
    max: 19,
    values: [heureDebut, heureFin],
    slide: function (event, ui) {
    var heureMin = ui.values[0];
    var heureMax = ui.values[1];
    $("#horaires_" + id).html(heureMin + ":00H - " + heureMax + ":00H");
    var optionValue = heureMin + "-" + heureMax + "-" + date;
    $("#plage_" + id).val(optionValue);
    }
    });
    }
    */
}