@using OsteoYoga.Resource
@using OsteoYoga.Resource.Contact
@{
    ViewBag.Title = "Mot de passe admin";
    Layout = "~/Views/Shared/_Layout.cshtml";  
    if (ViewBag.isForDate != null && ViewBag.isForDate)
    {
        <div>
            
        </div>
    }
}
<script src="@Url.Content("~/Theme/Scripts/jquery-1.9.1.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/Theme/Scripts/jquery-ui.min.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/Theme/Scripts/jquery.watermark.min.js")" type="text/javascript" ></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#email').watermark('@ModelResource.YourPassword');
    });
</script>
<div role="main" id="mainContent"> 
    @using (Html.BeginForm("PassAdmin", "Administration", FormMethod.Post))
    {
        <div id="Errors" class="error">@ViewBag.Errors</div>
        <fieldset>
            <legend>Veuillez saisir le mot de passe administrateur</legend>
            <div><input type="password" name="password" id="password" /></div>
            <div><input class="btn btn-primary" type="submit" value="@LoginResource.ConnectMySelf"/></div>
        </fieldset>
    }
</div>
