@using System.Web.Mvc.Html
@using OsteoYoga.Domain.Models
@using OsteoYoga.Resource.RendezVous
@model OsteoYoga.Site.ViewResults.DateViewResult
<script src="@Url.Content("~/Theme/Scripts/jquery-1.9.1.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/Theme/Scripts/jquery-ui.min.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/Theme/Scripts/jquery.maskedinput.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/Theme/Scripts/jquery.validate.min.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/Theme/Scripts/jquery.watermark.min.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/Theme/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/Theme/Scripts/MicrosoftAjax.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Theme/Scripts/MicrosoftMvcAjax.js")" type="text/javascript"></script>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Prise de rendez vous sur internet";
    ViewBag.Meta = "Prise de rendez vous sur internet facile et rapide selon vos disponibilités. La prise en compte est immédiate.";
}

@*<script type="text/javascript">
    var compteurId = 0;
    var ids = new Array();
    //var dayHours = '@Constants.GetInstance().AMBegin()-@Constants.GetInstance().PMToto()';
    var daysToDisable = [@foreach (Holiday holiday in Model)
                         {
                             if (holiday.BeginHour <= Constants.GetInstance().AMBegin() && holiday.TotoHour == Constants.GetInstance().PMToto() )
                             {
                                <text>'@(holiday.Day.Month)-@(holiday.Day.Day)-@(holiday.Day.Year)',</text>
                             }
                         }];
    $(document).ready(function () {
        
    });

    

    
</script>*@

<script type="text/javascript">
    (function ($) {
        $.fn.cascade = function (options) {
            var defaults = {};
            var opts = $.extend(defaults, options);

            return this.each(function () {
                $(this).change(function () {
                    var params = {};
                    console.log(opts.parametres);
                    opts.parametres.split(";").forEach(function(element, index, array) {
                        params[element.split("=")[0]] = element.split("=")[1];

                    });

                    $.getJSON(opts.url, params, function (items) {
                        opts.childSelect.empty();
                        var count = 0;
                        $.each(items, function (index, item) {
                            if (count === 0) {
                                opts.childSelect.append($('<option/>').attr('value', item.Id).text(item.Name));
                                count = count + 1;
                            } else {
                                opts.childSelect.append($('<option/>').attr('value', item.Id).text(item.Name));
                            }
                            opts.childSelect.change();
                        });
                    });
                });
            });
        };
    })(jQuery);

    $(function () {
        console.log($("#SelectedOfficeId option:selected"));
        $('#SelectedOfficeId').cascade({
            url: '@Url.Action("Pratictioners")',
            parametres: 'officeId=' + $("#SelectedOfficeId option:selected").val(),
            childSelect: $('#SelectedPratictionerId')
        });

        $('#SelectedPratictionerId').cascade({
            url: '@Url.Action("Durations")',
            parametres: 'officeId=' + $("#SelectedOfficeId option:selected").val() + ';pratictionerId=' + $("#SelectedPratictionerId option:selected").val(),
            childSelect: $('#SelectedDurationId')
        });
    });
    $(document).ready(function () {
        $('#SelectedOfficeId').change();
    });

    //$(document).ready(function() {
    //    $('#offices').change(function() {
    //        SetFormValues();
    //    });
    //    $('#durations').change(function () {
    //        SetFormValues();
    //    });
    //    $("#DatesPicker").datepicker({
    //        minDates: +3,
    //        beforeShowDay: disableSpecificDates,
            
    //        dateFormat: 'dd/mm/yy',
    //        onSelect: function (date) {
    //            $("#timeSlotSelection").show();
    //            $("#timeSlotSelectionValues").show();
    //            //getProposeDates(date);
    //        }
    //    });
    //    //$("#selectedTimeSlot").change(function () {
    //    //    getProposeDates($("#DatesPicker").val());
    //    //});
    //});

    @*function getProposeDates(date) {
        $.ajax({
            url: '@Url.Action("ProposeDates", "RendezVous")',
            data: {
                patientDates: date,
                patientHours: $("#selectedTimeSlot").val()
            },
            type: 'POST',
            success: function (data, textStatus, jqXHR) {
                $("#proposeDates").html(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    }*@
    @*function disableSpecificDates(date) {
        var month = date.getMonth();
        var day = date.getDate();
        var dayofWeek = date.getDay();
        var year = date.getFullYear();
        if (dayofWeek != 0 && dayofWeek != 3) {
            if ($.inArray((month + 1) + '-' + day + '-' + year) != -1) {
                return [false];
            }
            //for (var i = 0; i < daysToDisable.length; i++) {
            //    if ($.inArray((month + 1) + '-' + day + '-' + year, daysToDisable) != -1) {
            //        return [false];
            //    }
            //}
            return [true];
        }
        return [false];
    }

    function SetFormValues() {
        $('#officeId').val($('#offices').val());
        $('#durationId').val($('#durations').val());
    }
    function replaceDurations(officeId) {
        $.ajax({
            url: '@Url.Action("ProposeDate", "RendezVous")',
            data: {
                patientDate: date,
                patientHours: $("#selectedTimeSlot").val()
            },
            type: 'POST',
            success: function (data, textStatus, jqXHR) {
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    }*@


</script>
<div role="main" id="mainContent">
    <fieldset>
        <legend><h1>@DateResource.DateQuery</h1></legend>
        <label class="error" id="erreurs">@ViewBag.ResultMessage</label>
        <table>
            <tr>
                <th>
                    <h2>@DateResource.OfficeList</h2>
                </th>
                <th>
                    <h2>Ostéopathe</h2>
                </th>
            </tr>
            <tr>
                <td>
                    <select id="SelectedOfficeId">
                        @foreach (Office office in Model.Offices)
                        {
                            <option value="@office.Id">@office.Name</option>
                        }
                    </select>
                    @*@Html.DropDownListFor(x => x.SelectedOfficeId, new SelectList(Model.Offices, "Id", "Name"))*@
                </td>
                <td>
                    @Html.DropDownListFor(x => x.SelectedPratictionerId, Enumerable.Empty<SelectListItem>())
                </td>
                <td>
                    @Html.DropDownListFor(x => x.SelectedDurationId, Enumerable.Empty<SelectListItem>())
                </td>
                @*<td>
                    <select name="durations" id="durations">
                        @foreach (var item in Model.Durations)
                        {
                            <option value="@item.Id">@item.Value</option>
                        }
                    </select>
                </td>*@


            </tr>
            <tr>
                <th><h2>@DateResource.DateSelection</h2></th>
            </tr>
            <tr>
                <td style="width:25%; vertical-align:top; background-color: transparent;">
                    <div align="center" id="DatesPicker" />
                </td>
            </tr>
        </table>

        @*@using (Html.BeginForm("ProposeDate", "RendezVous", FormMethod.Post))
        {
            <input type="hidden" id="officeId" />
            <input type="hidden" id="durationId" />
        }*@
        @*<table >
            
            <tr hidden="hidden" id="timeSlotSelection">
                <th><h2>@DatesResource.TimeSlotSelection</h2></th>
            </tr>
            <tr hidden="hidden" id="timeSlotSelectionValues">
                <td style="width:75%; text-align:center; vertical-align:top; background-color: transparent;">
                    <select id="selectedTimeSlot">
                        <option value="@Constants.GetInstance().AMBegin()-@Constants.GetInstance().PMToto()" selected="selected">@DatesResource.AllTheDay</option>
                        <option value="@Constants.GetInstance().AMBegin()-@Constants.GetInstance().AMToto()">@DatesResource.AM</option>
                        <option value="@Constants.GetInstance().PMBegin()-@Constants.GetInstance().PMToto()">@DatesResource.PM</option>
                    </select>
                    <div id="customTimeSLot"></div>
                </td>
            </tr>
        </table>*@
        <div id="proposeDate"></div>
    </fieldset>
</div>