@using System.Web.Mvc.Html
@using OsteoYoga.Resource.RendezVous
@model OsteoYoga.Site.ViewResults.DateViewResult
<script src="@Url.Content("~/Theme/Scripts/jquery-1.9.1.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/Theme/Scripts/jquery-ui.min.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/Theme/Scripts/jquery.maskedinput.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/Theme/Scripts/jquery.validate.min.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/Theme/Scripts/jquery.watermark.min.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/Theme/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/Theme/Scripts/MicrosoftAjax.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Theme/Scripts/MicrosoftMvcAjax.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Theme/Scripts/MyScripts/date.js")" type="text/javascript"></script>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Prise de rendez vous sur internet";
    ViewBag.Meta = "Prise de rendez vous sur internet facile et rapide selon vos disponibilités. La prise en compte est immédiate.";
}


<script type="text/javascript">
    var days = [];
    $(function () {
        $('#SelectedOfficeId').change(function () {
            var selectedOfficeId = $(this).val();
            $.getJSON('@Url.Action("Pratictioners")', { officeId: selectedOfficeId }, function (practioners) {
                var practionersSelect = $('#SelectedPratictionerId');
                practionersSelect.empty();
                $.each(practioners, function (index, pratictioner) {
                    practionersSelect.append($('<option/>').attr('value', pratictioner.Id).text(pratictioner.Name));
                });
                $('#SelectedPratictionerId').change();
            });
        });

        $('#SelectedPratictionerId').change(function () {
            var selectedOfficeId = $("#SelectedOfficeId option:selected").val();
            var selectedPratictionerId = $(this).val();
            $.getJSON('@Url.Action("Durations")', { officeId: selectedOfficeId, pratictionerId: selectedPratictionerId }, function (durations) {
                var durationsSelect = $('#SelectedDurationId');
                durationsSelect.empty();
                $.each(durations, function (index, duration) {
                    durationsSelect.append($('<option/>').attr('value', duration.Id).text(duration.Name));
                });
                $('#SelectedDurationId').change();
            });
        });

        $('#SelectedDurationId').change(function () {
            var selectedOfficeId = $("#SelectedOfficeId option:selected").val();
            var selectedPratictionerId = $("#SelectedPratictionerId option:selected").val();
            var selectedDurationId = $(this).val();
            $.getJSON('@Url.Action("FreeDays")', { officeId: selectedOfficeId, pratictionerId: selectedPratictionerId, durationId: selectedDurationId },
            function (freeDays) {
                days = [];
                $.each(freeDays, function (index, value) {
                    var date = new Date(parseInt(value.FreeDay.substr(6)));
                    days[index] = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
                });
                loadDayPicker();
            });
        });

    });

    $(document).ready(function () {
        $("#DaysPicker").datepicker({
            dateFormat: 'dd/mm/yy',
            disabled: true,
            onSelect: function (date) {
                selectDay(date);
            }
        });
        $('#SelectedOfficeId').change();
    });

    function selectDay(date) {
        var selectedOfficeId = $("#SelectedOfficeId option:selected").val();
        var selectedPratictionerId = $("#SelectedPratictionerId option:selected").val();
        var selectedDurationId = $("#SelectedDurationId option:selected").val();
        $.getJSON('@Url.Action("FreeSlots")', { choosedDay: date, officeId: selectedOfficeId, pratictionerId: selectedPratictionerId, durationId: selectedDurationId },
        function (freeSlots) {
            var slotsDiv = $('#SlotsPicker');
            slotsDiv.empty();
            var count = 0;
            
            $.each(freeSlots, function (index, value) {
                var begin = new Date(parseInt(value.FreeSlotBegin.substr(6))).toString("HH:mm");
                var end = new Date(parseInt(value.FreeSlotEnd.substr(6))).toString("HH:mm");
                slotsDiv.append($('' +
                    '<div>' +
                    '<input type="radio" name="radio" id="radio' + count + '" class="radio" />' +
                    '<label class="labelRadio" for="radio' + count + '"> ' + 'De ' + begin + ' à ' + end + '</label>' +
                    '</div>'));
                //slotsDiv.append($(''));
                $("#radio" + count).hide();

                count++;
            });
        });
    }

    function loadDayPicker() {
        $("#DaysPicker").datepicker("option", "disabled", false);
        $("#DaysPicker").datepicker("option", "beforeShowDay", enableSpecificDate);
    }

    function enableSpecificDate(date) {
        var dmy = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
        if ($.inArray(dmy, days) !== -1) {
            return [true, "", "Available"];
        } else {
            return [false, "", "unAvailable"];
        }
    }

    function replaceDurations(officeId) {
        $.ajax({
            url: '@Url.Action("ProposeDate", "RendezVous")',
            data: {
                patientDate: date,
                patientHours: $("#selectedTimeSlot").val()
            },
            type: 'POST',
            success: function (data, textStatus, jqXHR) {
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    }


</script>
<div role="main" id="mainContent" class="span11">
    <fieldset>
        <legend><h1>@DateResource.DateQuery</h1></legend>
        <label class="error" id="erreurs">@ViewBag.ResultMessage</label>
        <div class="span11 alignCenter">
            <div class="span4">
                <h2>@DateResource.OfficeList</h2>
                @Html.DropDownListFor(x => x.SelectedOfficeId, new SelectList(Model.Offices, "Id", "Name"))
            </div>
            <div class="span4">
                <h2>Ostéopathe</h2>
                @Html.DropDownListFor(x => x.SelectedPratictionerId, Enumerable.Empty<SelectListItem>())
            </div>
            <div class="span3">
                <h2>Durée</h2>
                @Html.DropDownListFor(x => x.SelectedDurationId, Enumerable.Empty<SelectListItem>(), new {@class = ""})
            </div>
        </div>
        <div class="span11 alignCenter">
            <div class="span7">
                <h2>Choississez une date</h2>
                <div align="center" id="DaysPicker"></div>
            </div>
            <div class="span4">
                <h2>Choississez une horaire</h2>
                <div align="center" id="SlotsPicker"></div>
            </div>
        </div>

        @*@using (Html.BeginForm("ProposeDate", "RendezVous", FormMethod.Post))
        {
            <input type="hidden" id="officeId" />
            <input type="hidden" id="durationId" />
        }*@
        @*<table >
            
            <tr hidden="hidden" id="timeSlotSelection">
                <th><h2>@DatesResource.TimeSlotSelection</h2></th>
            </tr>
            <tr hidden="hidden" id="timeSlotSelectionValues">
                <td style="width:75%; text-align:center; vertical-align:top; background-color: transparent;">
                    <select id="selectedTimeSlot">
                        <option value="@Constants.GetInstance().AMBegin()-@Constants.GetInstance().PMToto()" selected="selected">@DatesResource.AllTheDay</option>
                        <option value="@Constants.GetInstance().AMBegin()-@Constants.GetInstance().AMToto()">@DatesResource.AM</option>
                        <option value="@Constants.GetInstance().PMBegin()-@Constants.GetInstance().PMToto()">@DatesResource.PM</option>
                    </select>
                    <div id="customTimeSLot"></div>
                </td>
            </tr>
        </table>*@
        <div id="proposeDate"></div>
    </fieldset>
</div>