@using OsteoYoga.Domain.Models
@model IList<Contact>
<script src="@Url.Content("~/Theme/Scripts/jquery-1.9.1.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/Theme/Scripts/jquery-ui.min.js")" type="text/javascript" ></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#timeSlotSelection").hide();
        $("#contactSelection").hide();
        $("#validateDate").hide();
        $("#DatePicker").datepicker({
            minDate: +0,
            dateFormat: 'dd/mm/yy',
            onSelect: function (date) {
                $("#dateTimeSelection").val(date);
                $.ajax({
                    url: '@Url.Action( "GetTimeSlotsForADay", "Agenda")',
                    data: date,
                    type: 'POST',
                    success: function (data) {
                        $("#timeSlotSelection").html(data);
                        $("#timeSlotSelection").show();
                        $("#contactSelection").show();
                        $("#validateDate").show();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            }
        });
    });     
</script>
<form action="CreateDate" method="POST">
    <div id="DatePicker"></div>
    <select id="timeSlotSelection" name="timeSlotId"></select>
    <select id="contactSelection" name="contactId" >
        @foreach(Contact contact in Model)
        {
            <option value="@contact.Id">@contact.FullName</option>
        }
    </select>
    <input type="hidden" name="dateTime" id="dateTimeSelection"/>
    <input id="validateDate" type="submit"/>
</form>